body {
    background-color: #000;
}
#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}
#landing-header h1 {
    color: #fff;
}
.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation:imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) { 
  background-image: url(https://c2.staticflickr.com/8/7128/13762306254_d1f2926cd0_k.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://c2.staticflickr.com/4/3680/13762300734_627d5848bc_k.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://c2.staticflickr.com/6/5475/11419849013_43761c0c47_k.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://c2.staticflickr.com/6/5335/8999040952_8367b9861a_o.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://c2.staticflickr.com/6/5541/14321496141_91f06002e2_k.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }   
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }    
    20% {
        opacity: 1;
    }    
    30% {
        opacity: 0;
    }
}
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}